<ion-view hide-nav-bar="true">
  <ion-content>
          <ion-slides  options="options" slider="data.slider">
    <ion-slide-page class="dark-primary-color">
        <div class="row divider-color logo-back">
            <div class="col col-center col-100" align="center">
                <h1 class="text-primary-color lobsterTwo-Regular">knockBit</h1>
            </div>
        </div>
        <img src="img/placeit.png"/>
        <div class="row padding">
                <h2 class="roboto text-primary-color">Designed for <b>your</b> thoughts & views.</h2>
        </div>
    </ion-slide-page>
    <ion-slide-page class="dark-primary-color">
        <div class="row divider-color logo-back">
            <div class="col col-center col-100" align="center">
                <h1 class="text-primary-color lobsterTwo-Regular">knockBit</h1>
            </div>
        </div>
        <img src="img/placeit (1).png"/>
        <div class="row padding">
                <h2 class="roboto text-primary-color">Create topics or join topics which interests you in the <b>Feed</b> tab OR Explore <b>trending</b> topics.</h2>
        </div>
    </ion-slide-page>
    <ion-slide-page class="dark-primary-color">
        <div class="row divider-color logo-back">
            <div class="col col-center col-100" align="center">
                <h1 class="text-primary-color lobsterTwo-Regular">knockBit</h1>
            </div>
        </div>
        <img src="img/placeit (3).png"/>
        <div class="row padding">
                <h2 class="roboto text-primary-color">Follow people around the globe and join topics created by them in the <b>Search</b> tab.</h2>
        </div>
    </ion-slide-page>
    <ion-slide-page class="dark-primary-color">
        <div class="row divider-color logo-back">
            <div class="col col-center col-100" align="center">
                <h1 class="text-primary-color lobsterTwo-Regular">knockBit</h1>
            </div>
        </div>
        <img src="img/placeit (2).png"/>
        <div class="row padding">
                <h2 class="roboto text-primary-color">Find the discussions you participated in inside <b>History</b> tab.</h2>
        </div>
    </ion-slide-page>
    <ion-slide-page class="dark-primary-color">
        <div class="row divider-color logo-back">
            <div class="col col-center col-100" align="center">
                <h1 class="text-primary-color lobsterTwo-Regular">knockBit</h1>
            </div>
        </div>
        <div class="row padding">
            <h1 style="color:#fff;margin:auto;font-size:100pt;"><i class="icon ion-ios-people"></i></h1>
        </div><br><br><br><br>
        <div class="row padding">
                <h2 class="roboto text-primary-color">Invite friends to knockBit because its more fun with them.</h2>
        </div>
    </ion-slide-page>
    <ion-slide-page class="dark-primary-color">
        <div class="row divider-color logo-back">
            <div class="col col-center col-100" align="center">
                <h1 class="text-primary-color lobsterTwo-Regular">knockBit</h1>
            </div>
        </div>
        <div class="row padding">
            <h1 style="color:#fff;margin:auto;font-size:100pt;"><i class="icon ion-happy"></i></h1>
        </div>
        <div class="row padding" ui-sref="login()">
        <button class="button button-royal button-block button-outline">SIGN IN</button>
        </div>
        <div class="row padding">
        <button ui-sref="signup()" class="button button-royal button-block button-outline">SIGN UP</button>
        </div>
    </ion-slide-page>
  </ion-slides>
    </ion-content>
</ion-view>