<ion-modal-view>
    <ion-header-bar class="bar bar-stable" align-title="center">
        <button class="button button-clear button-positive" ng-click="modal.hide()">Cancel</button>
        <h1 class="title">Add topic</h1>
    </ion-header-bar>
    <ion-content>
        <div class="card">
            <label class="item item-input item-stacked-label">
            <span class="input-label">Title</span>
            <input type="text" placeholder="Title here...">
            </label>
            <label class="item item-input item-stacked-label">
            <span class="input-label">Description</span>
                <input type="text" placeholder="Describe your topic."/>
            </label>
        </div>
        <div class="row">
            <button class="button button-positive button-block" >Post</button>
        </div>
    </ion-content>
</ion-modal-view>